table {
  border-collapse: collapse;
  border-spacing: 5px;
  table-layout: auto;
  border: 3px solid #000;
  border-radius: 5px;
  margin-left: 15px;
  width: 100%;
}

thead {
  border-top: 4px solid #000;
}

th,
td {
  max-width: 10%;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 0.3em;
  font-weight: 500;
  font-size: 1.1rem;
  caption-side: bottom;
}

th {
  font-weight: bold;
}

th:first-child {
  text-align: left;
  vertical-align: middle;
  font-size: 1.3rem;
}

tr {
  border: 1px solid #000;
  height: 35px;
}

td:first-child {
  vertical-align: bottom;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

td:last-child:not(:first-child) {
  font-weight: 700;
  font-size: 1.4rem;
}

th {
  background: #eee;
}

td > img {
  max-width: 42px;
  max-height: 42px;
  float: left;
  padding: 5px;
}

/* Table stylings */
#scores td,
#scores th {
  border: 1px solid #ddd;
  padding: 8px;
}

#scores tr:nth-child(even) {
  background-color: #f2f2f2;
}

#scores tr:hover {
  background-color: #ddd;
}

#scores th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1181b2;
  color: white;
}
