:root {
    --main-dark: #212221;
    --main-blue: #134074;
    --blue: #00509d;
    --light-blue: #bde0fe;
    --dark-blue: #023e8a;
    --purple: #44449b;
    --main: rgb(72, 86, 150);
    --secondary: rgb(152, 159, 191);
    --platinum: rgb(231, 231, 231);
    --grey: rgb(124, 124, 124);
}

body {
    background-color: var(--main-bg);
}

p {
    color: var(--main-dark);
}

img[src$=".svg"] {
    margin-top: 5px;
}
